body {
  text-align: center;
  background: rgb(4, 4, 91);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  color: #A4D555;
}

.App {
  text-align: center;
  background: #30011E;
}

h1 {
  text-align: center;
}

footer{
  text-align: center;
  margin: 10em 0;
}

.nav {
  margin: 0 2em 0 2em;
  box-shadow: 3px 3px 3px grey;
}

.nav:hover {
  background: grey;
}

button {
  background: none;
  box-shadow: 3px 3px 3px grey;
  border: none;
  color: white;
}

button:hover {
  background: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
