

.nav {
  margin: 0 2em 0 2em;
  box-shadow: 5px 5px 5px grey;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}


