.currency-card {
  border: white solid 5px;
  width: 20vw;
  min-width: 255px;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}


.new-conversion {
  font-size: x-large;
}


button:hover {
  background: grey;
}